.skills-section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

.skills-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.skill-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.skill-card {
  border-radius: 10px;
  padding: 1.5rem;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.skill-icon {
  font-size: 2.5rem;
  font-weight: bold;
  max-width: 50%;
  margin-bottom: 1rem;
  margin: auto;
  color: #2d3748;
  img{
    max-width: 60px;
  }
}

.skill-card h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #2d3748;
}

.skill-level {
  color: #4a5568;
  font-size: 0.9rem;
  margin: 0;
}